body
{
	margin: 0;
	padding: 0;
	font: 85% arial, hevetica, sans-serif;
	text-align: center;
	color: #333;
	background: rgb(189,219,41); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(189,219,41,1) 1%, rgba(213,232,169,1) 14%, rgba(211,244,102,1) 89%, rgba(172,255,104,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(189,219,41,1)), color-stop(14%,rgba(213,232,169,1)), color-stop(89%,rgba(211,244,102,1)), color-stop(100%,rgba(172,255,104,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(189,219,41,1) 1%,rgba(213,232,169,1) 14%,rgba(211,244,102,1) 89%,rgba(172,255,104,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(189,219,41,1) 1%,rgba(213,232,169,1) 14%,rgba(211,244,102,1) 89%,rgba(172,255,104,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(189,219,41,1) 1%,rgba(213,232,169,1) 14%,rgba(211,244,102,1) 89%,rgba(172,255,104,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(189,219,41,1) 1%,rgba(213,232,169,1) 14%,rgba(211,244,102,1) 89%,rgba(172,255,104,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bddb29', endColorstr='#acff68',GradientType=0 ); /* IE6-9 */

}

table, tr, td
{
padding-bottom:26px;
text-indent:.5em;
color:black;
border:0px solid green;
table-layout:auto;
color: #7d8206;
font: 100% arial, times, "times new roman", serif;

}

 

a:link { color: #B52C07; text-decoration:none; }
a:visited { color: #b93411;text-decoration:none; }
a:focus { color: #000ff;text-decoration:none; }
A:hover {color: #7d8206;text-decoration:underline;}
a:active { color: #9FA41D;text-decoration:none;}
h1, h2, h3, h4, h5, h6, h7, h8 { margin: 0 0 .5em; letter-spacing:1px; color:red;}

.h1
{

color: red;
font: 200% Arial, times, "times new roman", serif;
}
.h2
{

color: red;
font: 100% Arial, times, "times new roman", serif;
}

h4
{
	color: #7d8206;
	font: 100% arial, times, "times new roman", serif;
	margin-top:20px;word-spacing:2px;line-height:20px;
}

h5
{
font-style:Corbel;
font-size:150%;
color:black;
}

h8
{
margin:.5em;
color: #B52C07;
font: 140% Cambria;
}

h7
{
margin: .1em;
color: #B52C07;
font: 340% Cambria;
}

h2
{
	color: #B52C07;
	font: 140% georgia, times, "times new roman", serif;
}

h2 a { text-decoration: none; }

h3
{
	color: #7d8206;
	font: 170% georgia, times, "times new roman", serif;
}

/* ------------------------------
container styles
------------------------------ */
#container
{
	margin: 1em auto;
	width: 800px;
	height:125em;
	text-align: left;
	background: #fff;
	border: 0px solid #676767;
}
#Acontainer
{
	margin: 1em auto;
	width: 800px;
	height:179em;
	text-align: left;
	background: #fff;
	border: 0px solid #676767;
}
#Ratcontainer
{
	margin: 1em auto;
	width: 800px;
	height:140em;
	text-align: left;
	background: #fff;
	border: 0px solid #676767;
}
#Rat2container
{
	margin: 1em auto;
	width: 800px;
	height:135em;
	text-align: left;
	background: #fff;
	border: 0px solid #676767;
}
/* ------------------------------
container style for Mosquito
------------------------------ */
#containerMosq
{
	margin: 1em auto;
	width: 800px;
	height:155em;
	text-align: left;
	background: #fff;
	border: 0px solid #676767;
}
/* ------------------------------
header styles
------------------------------ */

#header
{
	height: 45px;
	width: 100%;
	position: relative;
	background: url(header.jpg) no-repeat 0 0;
	border-bottom: 1px solid #fff;
}

#header h1
{
	position: absolute;
	left: -500em;
}



/* ------------------------------
mainnav styles
------------------------------ */
/* sugod */
nav {
  background-color: #9FA41D;
  height:53px; border-radius:10px;
}
 
 
nav ul {
  font-family: Arial, Verdana;
  font-size: 15px;
  margin:2px;
  padding: 0;
  list-style: none;
}
 
nav ul li {
  display: block;
  position: relative;
  float: left;
  border-radius:10px;
 
}
 
nav li ul { 
  display: none; 
}
 
nav ul li a {
  display: block;
  text-decoration: none;
  padding: 7px 58px 1px 35px;
  background: #9FA41D;
  border-radius:5px;
  white-space: wrap;
  height:42px; /* Width and height of top-level nav items */
  width:100px;

  margin:1px;
  text-align:center;
 
}
 
nav ul li a:hover { 
  background: #ffffcc; 
  border-radius:5px;
}
 
nav li:hover ul {
  display: block;
  position: absolute;
  height:30px;
}
 
nav li:hover li {
  float: none;
  font-size: 12px;

 
}
 
nav li:hover a { 
  background: #9FA41D; 
 
  height:42px; /* Height of lower-level nav items is shorter than main level */
}
 
nav li:hover li a:hover { 
  background: #ffffcc; 
}
 
nav ul li ul li a {

 margin-left:1px;
    text-align:left; /* Top-level items are centered, but nested list items are left-aligned */
}
 
/* kutob */

/* ------------------------------
menu styles
------------------------------ */

#menu
{
	float: right;
	height:100em;
	width: 250px;
	border-left: 3px solid #C5C877;
	padding-left: 15px;
	padding-right:10px;
	
	line-height:-200%;
}
#menuForBaiting
{
	float: right;
	height:152em;
	width: 250px;
	border-left: 3px solid #C5C877;
	padding-left: 15px;
	padding-right:10px;
	
	line-height:-200%;
}
#menuForRat-Facts
{
	float: right;
	height:107em;
	width: 250px;
	border-left: 3px solid #C5C877;
	padding-left: 15px;
	padding-right:10px;
	
	line-height:-200%;
}
#menuForRat-Control
{
	float: right;
	height:114em;
	width: 250px;
	border-left: 3px solid #C5C877;
	padding-left: 15px;
	padding-right:10px;
	
	line-height:-200%;
}



#menu ul
{
	margin: 1em 0;
	padding: 0;
	list-style-type: none;
}

#menu ul li
{
	margin: 0 0 1em;
	padding: 0;
	
}
#menu a
{
text-decoration:none;
}


#menu a:hover
{
text-decoration:underline overline;
background-color: #272900;
}

/* ------------------------------
contents styles
------------------------------ */

#contents
{
	float: left;
	width: 500px;

	margin: 0 0 0 20px;
}
.contentsMosq
{
	float: left;
	width: 430px;
	height:800px;
	margin: 0 0 0 20px;
}
#contents p { line-height: 165%; }



/* ------------------------------
footer styles
------------------------------ */

#footer
{
	clear: both;
	color: #272900;
	text-align: right;
	font-size: 90%;
	background: #9FA41D;
	padding: 5px;
	padding-top:10px;
	height:30px;
}
footer:hover{
text-decoration:none;
}

.image
{
	background:#ffffff url(ants.jpg);
	width: 350;
	padding: 0px 5px;
	float: right;
	border:solid 0px;
	border-color:#9FA41D;
	border-radius:29px;
	background-repeat: repeat-x;
	background-attachment:fixed;
	width:100%;
	opacity:500%;
}
.Aimagefloat
{
	float: left;
	padding: 2px;
	
	margin-top:10px;
	margin-left:10px;
}
.Aimage
{
	float: left;
	border:solid 1px;
	border-color:black;
	border-radius:15px;
}
.Termites
{
	
	margin-right:15px;
	width:150px;
	height:110px;
	float: right;
	border:solid 1px;
	border-color:#9FA41D;
	border-radius:15px;
}
.Spray
{
	
	margin-right:15px;
	width:220px;
	height:200px;
	float: right;
	border:solid 1px;
	border-color:#9FA41D;

}
.Clean
{
	
	margin-right:15px;
	width:190px;
	height:170px;
	float: right;
	border:solid 1px;
	border-color:#9FA41D;

}
.Baiting
{
	margin-top:5px;
	margin-right:15px;
	width:350px;
	height:210px;
	float: right;
	border:solid 1px;
	border-color:#9FA41D;

}.Norway
{
	margin-top:5px;
	margin-right:15px;
	width:220px;
	height:180px;
	float: right;
	border:solid 1px;
	border-color:#9FA41D;

}
.Ant-Term
{
	margin-top:5px;
	margin-left:5px;
	margin-right:15px;
	width:250px;
	height:220px;
	float: right;
	border:solid 1px;
	border-color:#9FA41D;

}



